body {
    overflow: auto;
    background: #282c34;
    
}

h1.entrance {
    margin: auto;
    width: 50%;
}

.mainDiv {
    background: lightblue;
    position: relative;
    min-height: 95dvh;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.innerDiv {
    /* position: static; */
    background: transparent;
    padding: 1%;

    /* margin: auto;
    width: 50%;
    height: 50%; */
    /* top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.buttonDiv {
    display: flex;
    margin: auto;
    width: 50%;
}

.buttonFlex {
    flex: 1;
}